<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    
</head>
<body>
    <div id="app">
       <ul>
           <li v-for="i in list" >{{i}}</li>
           <li v-for="item in 10" >{{item}}</li>
       </ul>
       <br>
       <div v-for="(value,key) in personel">

       {{key + ":" + value}}
       </div>

       <hr>
       <ul>
           <li v-for="product in productList">
            <span>{{product.title}}- {{product.count}}</span>
            <button @click="product.count--">Satıldı</button>
           </li>
       </ul>
     
    </div>

    <script>
    //{{i}} yerine v-text="i" kullanılabilir.
       new Vue({

        el:"#app",
        data:{
            
            list:["Elma","Armut","Kiraz"],
            personel: {

                name: "Deniz",
                lastname:"Kıskanç",
                email:"denizkiskancc@gmail.com"
            },

            productList:[
               {
                 title:"Macbook Pro",
                 price:1200,
                 count:10
               },

               {
                 title:"Macbook Air",
                 price:1000,
                 count:10
               },

               {
                 title:"İpad",
                 price:800,
                 count:10
               }
            ]
           
        }
     
       });
    </script>

</body>
</html>